@{
    ViewBag.Title = "Home Page";
}

<div id="typing-area">
    <div class="col-md-6">
        <div id="stopwatch" class="small-margin-top">
            <span class="btn btn-info" data-bind="click: restartGame">Restart</span>
            <span data-bind="text: stopwatch"></span>
        </div>
        <div class="small-margin-top" data-bind="with: game">
            <div class="text-info well" data-bind="foreach: lines" style="font-family: Consolas">
                <div class="type-line"><span data-bind="visible: indent">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text-success type-line" data-bind="text: correct"></span><span class="text-danger type-line" data-bind="text: wrong"></span><span class="type-line" data-bind="text: remaining, attr:{first: remaining()[0]}, css:{'caret-blink':$parent.currentLineNumber() == $index()}"></span></div>
            </div>
        </div>
        <div data-bind="visible: isGameFinished">
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input class="form-control" id="nameInput" placeholder="Name" data-bind="value: name, valueUpdate:'afterkeydown'">
            </div>
            <div class="form-group">
                <label for="phoneInput">Phone(s)</label>
                <input class="form-control" id="phoneInput" placeholder="Phone(s)" data-bind="value: phone, valueUpdate:'afterkeydown'">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" data-bind="click: postScore, enable: name() != '' && phone() != ''">Submit score</button>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 small-margin-top">
        <h4>Highscore</h4>
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>Name</th>
                <th>Time</th>
            </tr>
            <!-- ko foreach: highscores -->
            <tr data-bind="attr: { title: phone }">
                <td data-bind="text: name"></td>
                <td data-bind="text: time"></td>
            </tr>
            <!-- /ko -->
        </table>
    </div>
</div>

<script src="/Scripts/knockout-3.1.0.js"></script>
<script src="/Scripts/Home/stopwatch.js"></script>
<script src="/Scripts/Home/twoType.js"></script>