<div id="typing-area">
    <div class="col-sm-12">
        <div class="bs-callout bs-callout-info" style="font-size: smaller">
            <span>Replay of </span>
            <span data-bind="text: name"></span>
            <span> - </span>
            <span data-bind="text: time"></span>
            <span> seconds</span>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="small-margin-top" data-bind="with: typing.game">
            <div class="text-info well" data-bind="foreach: lines" style="font-family: Consolas">
                <div class="type-line"><span data-bind="visible: indent">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text-success type-line" data-bind="text: correct"></span><span class="text-danger type-line" data-bind="text: wrong"></span><span class="type-line" data-bind="text: remaining, attr:{first: remaining()[0]}, css:{'caret-blink':$parent.currentLineNumber() == $index()}"></span></div>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/knockout-3.1.0.js"></script>
<script src="/Scripts/Home/stopwatch.js"></script>
<script src="/Scripts/Home/TypingVm.js"></script>
<script src="/Scripts/Home/replayRecording.js"></script>