.clock-container {
    overflow: hidden;
    clear: both;
}

.clock {
    width: 50%;
    color: #FFE6CD;
}


.clock ul {
    width: 70%;
    list-style: none;
}

.clock ul li {
    display: inline;
    font-size: 200%;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 15px currentColor;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px currentColor;
    }

    25% {
        opacity: 0;
        text-shadow: none;
    }

    75% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px currentColor;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px currentColor;
    }

    25% {
        opacity: 0;
        text-shadow: none;
    }

    75% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px currentColor;
    }
}