@font-face {
    font-family: 'basis-grotesque-regular-pro';
    src: url('/fonts/basis-grotesque-regular-pro.eot');
    src: url('/fonts/basis-grotesque-regular-pro.eot?#iefix') format('embedded-opentype'),
         url('/fonts/basis-grotesque-regular-pro.woff2') format('woff2'),
         url('/fonts/basis-grotesque-regular-pro.woff') format('woff'),
         url('/fonts/basis-grotesque-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 3vw;
    background-color: #FFEBEB;
    font-family: 'basis-grotesque-regular-pro';
    font-weight: normal;
    font-style: normal;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.highscore {
    font-size: 50%;
}
tr[winner="true"] {
    background-color: blueviolet;
    color: white;
    border-width: 5px;

}

tr[blink="true"] {
    -webkit-animation: blink .5s step-end infinite alternate;
    -moz-animation: blink .5s step-end infinite alternate;
    -ms-animation: blink .5s step-end infinite alternate;
    -o-animation: blink .5s step-end infinite alternate;
    animation: blink .5s step-end infinite alternate;
}

@keyframes blink {
   50% { background-color: greenyellow; }
}


#currentPlace {
    margin-left: 15px;
    color: #344c53;
}

.larger-font {
    font-size: 150%;
}

.place {
    color: #FFE6CD;
    font-size: 200%;
}

.information {
    font-size: 45%;
    color: white;
    padding: 20px;
    color: #FFE6CD;
}

.information td {
    min-width: 100px;
    padding: 5px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

input {
    font-size: 50%;
}

label {
    font-size: 50%;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.wrong-key {
    color: red;
}

.navbar-brand {
    font-size: 150%;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 100px;
}

.navbar-inverse .navbar-brand {
    color: #FFE6CD;
}

.navbar-inverse {
    background-color: #005550;
}
.modal-header {
    background-color: #FA9691;
    color: #ffffff;
    font-size: 30px;
}
footer p {
    font-size: 40%
}
.modal-dialog {
    width: 60%;
}
p.row {
    padding-left: 10px;
}
#logo {
    display: block;
    width: 296px;
    height: 37px;
    margin: 0 0 0 37px;
}

#logo span{
    background: url(img/Ciber_logo.jpg) no-repeat;
}

.btn-header {
    float: right;
    width: 300px;
    margin: 40px 40px 10px 10px;
    height: 90px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
}


.small-margin-top {
    margin-top: 15px;
}

#typing-area .type-line {
    white-space: pre-wrap;
}
#typing-area .type-line.caret-blink{
    position: relative;
}

    #typing-area .type-line.text-success {
        color: #FFE6CD;
        background-color: #005550;
    }

#typing-area .type-line.text-danger {
    color: rgb(114, 43, 42);
    background-color: rgb(204, 120, 119);
}

#typing-area .caret-blink:before {
    content: attr(first);
    animation: caret 1s steps(1, start) infinite;
    position: absolute;
    left: 0;
}

#watch {background:url(Images/digitalFont.png);width:13px;height:23px;display:block}




@keyframes caret {
  50% {
      color: white;
      background-color: #3A87AD;
  }

  100% {
      color: transparent;
  }
}

#fancyClock{
	margin:40px auto;
	height:200px;
	border:1px solid #111111;
	width:600px;
}

.highscore-registration {
    font-size: 50%;
}

.text-info {
    background-color: #eee;
}