body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 3vw;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#currentPlace {
    margin-left: 15px;
    color: #344c53;
}



.place {
    color: #EE7A1E;
    font-size: 200%;
    width: 30%;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.wrong-key {
    color: red;
}

.navbar-brand {
    font-size: 150%;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 100px;
    font-family: Consolas;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse {
    background-color: #222222;
}
.modal-header {
    background-color: #EE7A1E;
    color: #ffffff;
    font-size: 30px;

}
footer p {
    font-size: 40%
}
.modal-dialog {
    width: 60%;
}

#logo {
    display: block;
    width: 296px;
    height: 37px;
    margin: 0 0 0 37px;
}

#logo span{
    background: url(img/Ciber_logo.jpg) no-repeat;
}

.btn-header {
    float: right;
    width: 300px;
    margin: 40px 40px 10px 10px;
    height: 90px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
}

.btn-highscore {
    background-color: #EE7A1E;
    border-color: #344C53;
    top: 0px;
    z-index: 200;
    right: 0;
}



.btn-restart {
    background-color: #00A3FF;
    border-color: #344C53;
    top: 100px;
    z-index: 200;
    right: 0;
}

.btn-restart :hover :focus{
    color: #00A3FF;
    background-color: #ffffff;
    border-color: #344C53;
}

.btn-highscore :hover :focus{
    color: #00A3FF;
    background-color: #ffffff;
    border-color: #ffffff;
}

.small-margin-top {
    margin-top: 15px;
}

#typing-area .type-line {
    white-space: pre-wrap;
}
#typing-area .type-line.caret-blink{
    position: relative;
}

#typing-area .type-line.text-success {
    color: #006400;
    background-color: #78C857;
}

#typing-area .type-line.text-danger {
    color: rgb(114, 43, 42);
    background-color: rgb(204, 120, 119);
}

#typing-area .caret-blink:before {
    content: attr(first);
    animation: caret 1s steps(1, start) infinite;
    position: absolute;
    left: 0;
}

#watch {background:url(Images/digitalFont.png);width:13px;height:23px;display:block}

@keyframes caret {
  50% {
      color: white;
      background-color: #3A87AD;
  }

  100% {
      color: transparent;
  }
}

#fancyClock{
	margin:40px auto;
	height:200px;
	border:1px solid #111111;
	width:600px;
}

.highscore-registration {
    font-size: medium;
}