body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.wrong-key {
    color: red;
}

#typing-area span {
    font-size: 18px;
}

.small-margin-top {
    margin-top: 15px;
}

#typing-area .type-line {
    white-space: pre-wrap;
}
#typing-area .type-line.caret-blink{
    position: relative;
}

#typing-area .type-line.text-success {
    background-color: #DFF0D8;
}

#typing-area .type-line.text-danger {
    background-color: #F2DEDE;
}

#typing-area .caret-blink:before {
    content: attr(first);
    animation: caret 1s steps(1, start) infinite;
    position: absolute;
    left: 0;
}

@keyframes caret {
  50% {
      color: white;
      background-color: #3A87AD;
  }

  100% {
      color: transparent;
  }
}